{#{% extends "base.html" %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NoteSync{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
<div id='headerWrapper'>
         <div id='headerLeft'>
            <img id='logoImg' src="{{ url_for('static',filename='images/logo.png') }}" alt='logo img'/>
            <div id='headerTitle'>NoteSync</div>
         </div>
         <div id='headerRight'>
            <div id='headerMessage'>Don't have an account?</div>
            <a id='headerButton' href={{ url_for('auth.register') }} >Sign Up</a>
         </div>
      </div>
{% block content %}
<div id="loginWrapper" class="auth-container">
    <div id="loginMsg" class="mb-4">Log in to your account</div>
    <form id='loginForm' method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(id="emailInput",class="form-control loginInput") }}
            {% if form.username.errors %}
                <div class="text-danger">
                    {% for error in form.username.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(id="passwordInput",class="form-control loginInput") }}
            {% if form.password.errors %}
                <div class="text-danger">
                    {% for error in form.password.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3 form-check">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
        </div>
        <button id="loginBtn" type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>
{% endblock %}
</body>
</html>
