.formInput{
    font-family: "Poppins", sans-serif !important;
    width: 100%;
   height: 40px;
   border: 1px solid rgb(197, 197, 197);
   border-radius: 8px;
   padding: 0px 15px !important;
   box-sizing: border-box !important;
   margin: 5px 0px 20px 0px !important;
   font-size: 16px;
}
#formWrapper{
    width: 60%;
    margin: 5% auto 0;
    background-color: white;
    border-radius: 16px;
    padding: 2%;
    box-shadow: 0px 0px 10px rgb(237, 237, 237);
}
#formMsg{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2%;
}

#bottomRow{
    display: flex;
    justify-content: end;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}
#saveBtn{
    border: none;
    background-color: #2563EB;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    width: 120px;
    height: 40px;
}
#cancelBtn{
    background-color: #DC2626;
    box-sizing: border-box;
    margin-right: 10px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    width: 80px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
}
#sharingTitle{
    margin-bottom: 1% !important;
    font-size: 18px;
}
label{
    font-size: 18px;
}

