#topRow{
    height: 100px;
    margin: 0 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#noteTitleWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
#noteTitle{
    font-size:30px;
    font-weight: 600;
}
#noteTitleTagsWrapper{
    box-sizing: border-box;
    padding: 0 30px;
    min-width: 500px;
    max-width: 600px;
}
#backArrowImg{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
a{
    text-decoration: none;
}
#noteBtnWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
#editBtn{
    width: 100px;
    background-color: #2563EB;
    height: 40px;
    color: white;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
}
#deleteBtn{
    width: 100px;
    background-color: #DC2626;
    height: 40px;
    color: white;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
}
#noteContentWrapper {
    width: 80%;
    margin: 0 10%;
    background-color: white;
    border-radius: 16px;
    padding: 1% 2%;
    position: relative;
    min-height: fit-content;
    /*padding-bottom: 60px;*/
    box-shadow: 0px 0px 10px rgb(237, 237, 237);
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

#noteContentBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}
#noteContentButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#collabWrapper{
    display: flex;
    flex-direction: column;
}
#collaborators{
    display: flex;
    gap: 10px;
}
#viewersWrapper{
    display: flex;
    flex-direction: row;
    max-width: 300px;
    overflow-x: auto;
}

#shareNoteBtn {
    height: 40px;
    width: 100px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
    background-color: transparent;
}

#shareNoteBtn a {
    color: black;
    text-decoration: none;
    display: block;
}

#exportNoteBtn {
    height: 40px;
    padding: 0 12px;
    background-color: #000; /* black background */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#exportNoteBtn a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}
#addTagForm{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#addTagBtn{
    display: inline-block;
    border: none;
    color: white;
    font-size: 20px;
    background-color: #2563EB;
    border-radius: 4px;
    min-width: 28px;
    height: 28px;
}
.tag{
    padding: 3px 8px;
    max-height: 35px;
    overflow-y: hidden;
    min-width: fit-content;
    border-radius: 8px;
}
#tagsWrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
}
.select2{
    min-width: 120px;
}
