#formMsg{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1%;
}
#formDesc{
    color: #6c757d;
}
#formWrapper{
    width: 60%;
    margin: 5% auto 0;
    background-color: white;
    border-radius: 16px;
    padding: 2%;
    box-shadow: 0px 0px 10px rgb(237, 237, 237);
    margin-bottom: 5%;
}
.formInput{
    font-family: "Poppins", sans-serif !important;
    width: 100%;
   height: 40px;
   border: 1px solid rgb(197, 197, 197);
   border-radius: 8px;
   padding: 0px 15px !important;
   box-sizing: border-box !important;
   margin: 5px 0px 20px 0px !important;
   font-size: 16px;
}
#inputLabel{
    font-size: 16px;
}
#inputRow{
    margin-top: 2%;
}
#generateWikinote{
    height: 40px;
    width: 360px;
    font-size: 18px;
    color: white;
    background-color: #2563EB;
    border-radius: 8px;
    border: none;
    margin-bottom: 2%;
}
#noteTitle{
     font-family: "Poppins", sans-serif !important;
    width: 100%;
   height: 40px;
    align-content: center;
   border: 1px solid rgb(197, 197, 197);
   border-radius: 8px;
   padding: 0px 15px !important;
   box-sizing: border-box !important;
   margin: 5px 0px 20px 0px !important;
   font-size: 16px;
}
#noteContent{
    font-family: "Poppins", sans-serif !important;
    width: 100%;
    min-height: 200px;
    overflow-y: auto;
    border: 1px solid rgb(197, 197, 197);
   border-radius: 8px;
   padding: 5px 15px !important;
   box-sizing: border-box !important;
   margin: 5px 0px 20px 0px !important;
   font-size: 16px;
}
#noteOutput{
    display: none;
}
#resultsTitle{
    display: none;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
#cancelBtn{
    background-color: #DC2626;
    box-sizing: border-box;
    margin-right: 10px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
#realSubmit{
    border: none;
    background-color: #2563EB;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    width: 120px;
    height: 40px;
}
#search-results{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card{
    border: 1px solid #afafaf;
    border-radius: 10px;
    padding: 2% 1%;
    width: 100%;
}
.topRow{
    display: flex;
    justify-content: space-between;
    padding-right: 1.5%;
    padding-bottom: 1%;
}
.topRow div{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.topRow button{
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #2563EB;
}
.card div:last-child{
    max-width: 80%;
    color: #6c757d;
}
button:hover{
    cursor: pointer;
}
#createNoteForm{
    display: none;
}
#formWrapper p {
    display: none;
    color: #dc3545;
    background-color: rgb(255 215 219);
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0 0 5px 0;
}