<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NoteSync{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wikinote.css') }}">
</head>
<body>
<div id='headerWrapper'>
    <div id='headerLeft'>
        <img id='logoImg' src="{{ url_for('static',filename='images/logo.png') }}" alt='logo img'/>
        <a href="{{ url_for('main.get_notes') }}">
            <div id='headerTitle'>NoteSync</div>
        </a>
        <div id='myNotes'><a href="{{ url_for('main.get_notes') }}">My Notes</a></div>
        <div id='sharedNotes'><a href="{{ url_for('main.get_shared_notes') }}">Shared with me</a></div>
    </div>
    <div id='headerRight'>
        <div>Hello, {{ current_user.name }}</div>
        <img id='notiImg' src="{{ url_for('static',filename='images/noti.png') }}" alt='noti img'/>
        <a id="headerButton" class="nav-link" href="{{ url_for('auth.logout') }}">Log out</a>
    </div>
</div>

{% block content %}
    <div id="formWrapper" class="auth-container">
        <div id="formMsg">Create a WikiNote</div>
        <div id="formDesc">Create a new note from a Wikipedia article</div>
        <div id="inputRow">
            <div id="inputLabel">Enter topic</div>
            <input placeholder="Enter a topic for which you want a note to be generated" class="formInput"
                   id="wikinoteInput" type="text">
        </div>
        <p>You must enter a topic first!</p>
        <button id="generateWikinote">Search for wiki articles</button>
        <div id="resultsTitle">Results</div>
        <div id="search-results">

        </div>
        <form id="createNoteForm" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.title(class="form-control", id="titleInput") }}
            {{ form.content(class="form-control", id="contentInput") }}
            <div id="cancelBtn"><a href="{{ url_for('main.get_notes') }}" class="btn btn-secondary">Cancel</a></div>
            <button type="submit" id="realSubmit" class="btn btn-primary">Submit Note</button>
        </form>
    </div>

{% endblock %}
<script>
    function handleButtonClick(event) {
        const pageId = event.target.id;

        fetch('https://en.wikipedia.org/w/api.php?action=query&prop=extracts&pageids=' + pageId + '&format=json&origin=*')
            .then(response => response.json())
            .then(result => {
                const pages = result.query.pages;
                const page = Object.values(pages)[0];

                const title = page.title;
                const content = page.extract;

                document.getElementById('titleInput').value = title;
                document.getElementById('contentInput').value = content;

                document.getElementById('createNoteForm').submit();

                console.log('Title:', title);
                console.log('Content:', content);
            })
            .catch(error => {
                console.error('Error fetching details:', error);
            });
    }

    document.getElementById('generateWikinote').addEventListener('click', async () => {
        const query = document.getElementById('wikinoteInput').value;
        if (!query){
            document.querySelector("#formWrapper p").style.display = 'block'
        }
        else {

            const response = await fetch('https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch='
                + encodeURIComponent(query)
                + '&format=json&origin=*');


            if (response.ok) {
                const data = await response.json();
                {#console.log(data);#}

                const container = document.getElementById('search-results');

                const resultsTitle = document.getElementById('resultsTitle');
                resultsTitle.style.display = 'block'

                data.query.search.forEach(item => {
                    const card = document.createElement('div');
                    card.classList.add('card');
                    card.id = item.pageid;
                    const toprow = document.createElement('div');
                    toprow.classList.add('topRow');

                    const title = document.createElement('div');
                    title.innerHTML = item.title;

                    const snippet = document.createElement('div');
                    snippet.innerHTML = item.snippet;

                    const button = document.createElement('button');
                    button.textContent = 'Create';
                    button.classList.add('cardBtn');
                    button.id = item.pageid;
                    button.addEventListener('click', handleButtonClick);

                    toprow.appendChild(title);
                    toprow.appendChild(button);
                    card.appendChild(toprow);
                    card.appendChild(snippet);


                    container.appendChild(card);
                });

            } else {
                alert('Wikipedia page not found!');
            }
            document.querySelector("#formWrapper p").style.display = 'none'
        }
    });

</script>
<script src="{{ url_for('static', filename='js/notifications.js') }}"></script>

</body>
</html>